**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

button{
    padding: 10px 25px;
    background-color: rgb(37, 135, 102);
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    color: white;
    display: flex;
    position: absolute;
    z-index: 99;
   

}
button:active{
    scale: 0.96;
}