*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(136, 118, 118);
}
html,body{
    height: 100%;
    width: 100%;

}
img{
    height: 250px;
    position: absolute;
}