*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Now Display";
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.card{
    width: 600px;
    height: 350px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
h1{
    color: red;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
}
.btn{
    height: 40px;
    width: 180px;
    background-color: seagreen;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

}
.btn:active{
    scale: 0.96;
}